
body{
  text-align: center;
}
.Calculator-Class {
  width: 600px;
  height: 100%;
  text-align: left;
  display: inline-block;
}
.Calculator-Display{
  height: 50px;
  width: 425px;
  border-color: black;
  border-width: thin;
  border-style: solid;
  border-radius: 5px;
  text-align: right;
  font-size: 30px;
  padding-bottom: 10px;
}
button{
  font-size: 20px;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.Calculator-Body {
  text-align: center;
  display: grid;
  width: 100%;
  height: 100%;
  margin-left: 10px;
}
.col-2, .col-4 {
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
}
@media handheld {
    .container{
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 600px){
    max-width: 600px;
}
